// Fronte
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap");

figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.header {
  position: relative;
  font-family: "Inter", sans-serif;
}

.header > img {
  filter: brightness(0.8);
}

.header hgroup {
  position: absolute;
  bottom: 22%;
  right: 1rem;
  color: var(--light);
  text-align: center;
}

.header h1 {
  font-size: 7.5vw;
  line-height: 10vw;
  margin: 0.5rem;
}

.header-main hgroup a {
  display: block;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  width: 50%;
  margin-left: 50%;
  padding: 0.4rem 1rem;
  color: var(--light);

  transform: translate(-50%);
}

.artikelsection h2 {
  font-family: "Jura", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #002bc2;
}
