// Front til navagation
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap");

.navbar {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  color: #002bc2;
}

.navlist {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar,
.navlist li a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #002bc2;
  background-color: #fafafa;
  transition: 300ms ease-in-out;
}

.nav2 {
  font-family: "Jura", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
