// Fronte
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap");

.footer {
  font-family: "Inter", sans-serif;
  background-color: #2c3b6f;
  color: #fafafa;
  padding: 2rem;
}

.footer ul {
  display: flex;
  flex-direction: column;
  font-family: "Jura", sans-serif;
  align-items: center;
  list-style: none;
  margin: 2rem;
  padding: 0;
}

.footer h3 {
  color: #fafafa;
  font-family: "Jura", sans-serif;
  font-size: 2.3rem;
}

.footer div h3 {
  margin-left: 2rem;
}

.footer figure {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 30%;
  margin-top: 2rem 0;
}

.footer figure img {
  width: 30%;
  height: auto;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
